<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocoAnalytics.</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <!-- custom css -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Include Swiper's JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Add Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.css"/>
    <!-- Add Slick Slider Theme CSS (optional) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.min.js"></script>
    

</head>



<body>

    <!-- header design -->
    <header class="header">
        <a href="#" class="logo">FocoAnalytics.</a>

        <div class='bx bx-menu' id="menu-icon"></div>

        <nav class="navbar">
            <a href="#home" class="active">Inicio</a>
            <a href="#about">¿Quién soy?</a>            
            <a href="#portfolio">Posts</a>
        </nav>
    </header>

    
    <!-- home section design -->
    <section class="home" id="home">
        <div class="home-content">
            <h1>Francisco Macaya</h1>
            <h3>¿Qué me interesa?: <span class="multiple-text"> </span></h3>
            <p>Profesional con +4 años en el mundo de AI y DC. Trabajo en el Grupo Security como Specialist Data Science y cuento con un Msg en Inteligencia Artificial en la Pontificia Universidad Católica de Chile.
            </p>
            <div class="social-media">  
                <a href="https://www.instagram.com/foco.macaya/"><i class='bx bxl-instagram-alt'></i></a>
                <a href="https://www.linkedin.com/in/francisco-macaya-matas-b8a386151"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>

           <div class="home-img">
                <img src="static/picture_home_1.png" alt="">
           </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/picture_home_2.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">Sobre <span>Mí</span></h2>
            <h3>Jefe de Forecast / Specialist Data Science   </h3>
            <p>
                A lo largo de mi carrera profesional, he trabajado en la industria financiera y de retail, desempeñándome como líder de equipos especializados en modelos de series de tiempo y optimización de costos. Además, he adquirido experiencia en la implementación de modelos para la detección de fraudes en reembolsos (siniestros), así como en proyectos de conversión de voz a texto (speech to text).</p>
            <p style="color: #673AB7;">Este blog es un espacio personal para compartir mis conocimientos y experiencias en el mundo de la ciencia de datos y la inteligencia artificial. Si quieres un cafe o un charla, estaría encantado de conectarnos.</p>
        </div>
    </section>
    <!-- portfolio section design -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Mis <span>Posts</span></h2>
        <p></p>
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/portfolio1.jpg" alt="Project 1">
                <div class="portfolio-layer">
                    <h4>Ver más</h4>
                    <a href="first.html" target="_blank"><i class='bx bx-link-external'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="static/secondblog/docker.png" alt="Project 1">
                <div class="portfolio-layer">
                    <h4>Ver más</h4>
                    <a href="second.html" target="_blank"><i class='bx bx-link-external'></i></a>
                </div>
            </div>

        </div>
    </section>
    <!-- footer design -->
    <footer class="footer">
        <div class="footer-text">
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class='bx-up-arrow-alt'></i></a>
        </div>
    </footer>
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- custom js -->
    <script src="static/script.js"></script>
</body>
</html>



